/*
 * File: style.css
 * Project: Curso de NodeJS Completo - Hcode
 * File Created: Saturday, 16 May 2020 22:13:12
 * Author: Marcos Antônio B. de Souza (desouza.marcos@uol.com.br)
 * -----
 * Last Modified: Saturday, 16 May 2020 22:13:12
 * Modified By: Marcos Antônio B. de Souza (desouza.marcos@uol.com.br>)
 * -----
 * Copyright 2020 - 2020 All rights reserved, Marcant Tecnologia
 */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 50%;
    height: 50vh;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img.logo {
    width: 30%;
}